/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300;400&family=Zilla+Slab+Highlight:wght@400;700&display=swap");

/* Variables */
:root {
  --color-primary: #bb8a40;
  --color-secodary: #000823;
  --color-light-1: #f7f7f7;
  --color-dark-1: #1d293a;
  --body-normal-text: 1.8rem;
  --heading-small: 3rem;
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

/* ==================== */
/* Base */
/* ==================== */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
  color: var(--color-light-1);
}

/* ==================== */
/* Basic Setup */
/* ==================== */

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-out 0s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

a,
button {
  color: #1696e7;
  outline: medium none;
}

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-moz-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* ==================== */
/* Typography */
/* ==================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
  font-weight: normal;
  color: #313131;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

.heading-primary {
  color: #333;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-light-1);
}

.paragraph-primary {
  font-family: "Roboto", sans-serif;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

/* ==================== */
/* Utilities */
/* ==================== */

.section-padding {
  padding-top: 5rem;
}

.section-margin {
  margin: 5rem 0rem;
}

/* ==================== */
/* Components */
/* ==================== */
i {
  font-size: 4rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light-1);
  font-size: var(--body-normal-text);
  border: 2px solid transparent;
  padding: 1.5rem 2.5rem;
  margin: 2rem -2rem;
  transition: 0.3s all ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-secodary {
  background-color: transparent;
  color: var(--color-primary);
  font-size: var(--body-normal-text);
  border: 2px solid var(--color-primary);
  padding: 1.5rem 2rem;
  margin: 2rem 0rem;
  transition: 0.3s all ease;
}

.btn-secodary:hover {
  background-color: var(--color-light-1);
  color: var(--color-primary);
}

/* ==================== */
/* Header Section*/
/* ==================== */

/* Navabar */

.header {
  background-color: var(--color-secodary);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-left: 5rem;
}

.nav__link {
  font-size: var(--body-normal-text);
  font-weight: 400;
  color: var(--color-light-1);
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__logo {
  font-family: "Bree Serif", serif;
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--color-light-1);
  margin: 0;
  padding: 0;
}

.less {
  color: var(--color-primary);
}

.greater {
  color: var(--color-primary);
}

/* Hero section */
.hero {
  transform: translateY(30%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.hero__heading {
  font-size: 6rem;
  color: #fff;
  /* letter-spacing: 8px; */
}

.hero__sub-heading {
  font-size: var(--heading-small);
  color: #fff;
}

.hero__greetings {
  font-size: var(--body-normal-text);
  color: var(--color-primary);
}

.hero__icons {
  margin-left: 0.5rem;
}

.hero__icon {
  color: #fff;
  font-size: 2rem;
  margin-right: 2rem;
  transition: 0.3s all ease;
}

.hero__icon:hover {
  color: var(--color-primary);
}

.hero__illustration {
  max-width: 100%;
}

.btn-hero {
  margin-left: 0.5rem;
}

/* ==================== */
/* About Section*/
/* ==================== */
.about {
  min-height: 100vh;
  background-color: var(--color-dark-1);
}

.about__content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 5rem);
  grid-column-gap: 2rem;
}

.about__heading {
  grid-column: 5 / span 1;
  align-self: center;
  justify-self: center;
}

.about__heading::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
}

.about__heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
}

.about__details {
  grid-row: 3 / span 5;
  grid-column: 1 / span 4;
}

.about__details span {
  color: var(--color-primary);
}

.about__btn-1 {
  grid-column: 1 / span 2;
  grid-row: 9 / span 1;
  align-self: start;
  justify-self: center;
  margin-left: -5rem;
}

.about__btn-2 {
  grid-column: 3 / span 2;
  grid-row: 9 / span 1;
  align-self: start;
  justify-self: center;
  margin-left: -10rem;
  padding: 1.5rem 3rem;
}

.about__btn-2:hover {
  color: var(--color-primary);
}

.about__btn-2 a {
  color: var(--color-light-1);
}

.about__btn-2 a:hover {
  color: var(--color-primary);
}

.about__illustration {
  max-width: 100%;
  grid-column: 6 / -1;
  grid-row: 3 / -1;
}

.about__profile {
  max-width: 100%;
  grid-column: 6 / -1;
  grid-row: 1 / -2;
  margin-left: 2rem;
}

/* ==================== */
/* Skills Section*/
/* ==================== */
.resume-section {
  background-color: var(--color-secodary);
  padding: 8rem 0rem;
}

.skills__heading {
  text-align: center;
  padding-bottom: 5rem;
}

.skills__heading::before {
  content: "";
  display: block;
  width: 5rem;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
  margin: auto;
}

.skills__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
  margin: auto;
}

.resume-section .section-header {
  color: var(--color-light-1);
}

.resume-section .resume-details {
  display: flex;
  justify-content: space-between;
}

.resume-details .skill-bar-section {
  width: 50%;
  padding-right: 4rem;
}

.skill-bar-section h3 {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  background: var(--color-primary);
  color: var(--color-light-1);
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.skill-bar-section p {
  margin-bottom: 1rem;
  color: var(--color-light-1);
}

/* Skillbar Section */

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 15px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 15px;
  width: 0px;
  background: var(--color-primary);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  color: var(--color-light-1);
  color: rgba(0, 0, 0, 0.4);
}

.resume-section .experience-section {
  width: 50%;
  align-items: center;
  padding-left: 10rem;
}

.experience-section h3 {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  background: var(--color-primary);
  color: #ffffff;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.experience-section .company-info {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.experience-section .company-info {
  margin-top: 2rem;
}

.company-info .company-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-light-1);
  margin-bottom: 2rem;
}

.company-info .living-date h4 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.company-info p {
  color: var(--color-light-1);
}

/* ==================== */
/* Portfolio Section*/
/* ==================== */
.portfolio {
  background-color: var(--color-dark-1);
  padding: 8rem 0rem;
  min-height: 100vh;
}

.portfolio__heading {
  margin-bottom: 5rem;
  text-align: center;
}

.portfolio__heading::before {
  content: "";
  display: block;
  width: 8rem;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
  margin: auto;
}

.portfolio__heading::after {
  content: "";
  display: block;
  width: 8rem;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
  margin: auto;
}

/* Portfolio Tabs */

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab__controls {
  list-style: none;
  display: flex;
  margin-bottom: 4rem;
  margin-left: 9rem;
}

.tab__controls .active {
  background-color: var(--color-primary);
  transition: all 0.4s ease;
}

.tab__control {
  margin-left: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
}

.tab__content {
  max-width: 80%;
  margin: 0 auto;
}

/* Card */
.card__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-content: center;
}

.card {
  width: 30rem;
  min-height: 40rem;
  background-color: var(--color-secodary);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__img {
  height: 200px;
  background-position: top;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__img-allen {
  background-image: url("../img/allen-portfolio.png");
}

.card__img-trillo {
  background-image: url("../img/trillo.png");
}

.card__img-appri {
  background-image: url("../img/Appri-App.png");
}

.card__img-beat-monkey {
  background-image: url("../img/beat-monkey.png");
}

.card__img-wordbeater {
  background-image: url("../img/WordBeater.png");
}

.card__img-quote-genarator {
  background-image: url("../img/quoteGenarator.png");
}

.card__img-todo-app {
  background-image: url("../img/todo.png");
}

.card__img-quoteGenerator-react {
  background-image: url("../img/quote-ganerator.png");
}

.card__img-getWeather {
  background-image: url("../img/weather-app.png");
}

.card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.card__title {
  font-size: 2.5rem;
  color: var(--color-primary);
  margin: 1.5rem 0rem;
}

.card__text {
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0.8;
}

.card__icons {
  display: flex;
  padding: 2rem 1rem;
}

.card__icon {
  color: var(--color-light-1);
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 0.4s ease;
}

.card__icon:hover {
  color: var(--color-primary);
}

/* ==================== */
/* Contact Section */
/* ==================== */
.contact {
  background-color: var(--color-secodary);
  min-height: 70vh;
  padding-top: 5rem;
}

.contact-header {
  text-align: center;
  margin-bottom: 3rem;
}

.contact__heading::before {
  content: "";
  display: block;
  width: 11rem;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
  margin: auto;
}

.contact__heading::after {
  content: "";
  display: block;
  width: 11rem;
  height: 2px;
  color: var(--color-light-1);
  background-color: var(--color-primary);
  margin: auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-through {
  color: var(--color-light-1);
  background-color: var(--color-secodary);
  text-align: center;
  padding: 1rem;
  width: 28rem;
  height: 16rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: 0px 2px 24px 5px var(--color-primary);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.contact-through .fa {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  color: var(--color-primary);
}

/* ==================== */
/* footer Section */
/* ==================== */
.footer {
  height: 10vh;
  background-color: var(--color-dark-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: var(--color-primary);
}

/* * STICKY NAVIGATION */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-dark-1);
  transition: 0.5s all ease;
  box-shadow: 0 0.2rem 0.5rem var(--color-secodary);
  z-index: 9999;
  padding-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.sticky .logo {
  margin-top: 0;
  color: #11abb0;
}

.sticky .nav-item a {
  margin-top: 0.2rem;
  color: #333;
}

.sticky .nav-item a:hover {
  color: #11abb0;
}

/* STICKY NAVIGATION END */
